.ccMicroChartHeaderText{
    font-size: 0.875rem!important;
    font-weight: 500;
    color: black!important;
    line-height: 1.2rem!important;
    vertical-align: top!important;
    text-align: left!important;
    width: 100%!important;
    overflow: hidden;
    max-height: 3rem!important;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.ccMicroChartSubHeaderText{
	font-size: 0.7rem!important;
	color: rgba(102, 102, 102, 0.6)!important;
	vertical-align: top!important;
    text-align: left!important;
    width: 100%!important;
    overflow: hidden!important;
    word-break: break-all!important;
   	max-height:16px!important;
   	margin-top:2px;
  	padding-left: 0.5rem;
}

.ccMicroChartValueText{
    font-stretch: condensed;
    color: #666666;
    font-size: 2.2rem!important;
    /*position: absolute!important;*/
    right: 45px!important;*
    bottom: 31px
}

.ccMicroChartUnitText{
	font-size: 0.9rem!important;
	font-family: 'Arial Narrow',HelveticaNeue-CondensedBold,Arial,sans-serif;
    font-stretch: condensed;
    color: #666666;
}

.ccMicroChartUnitLayout {
	padding-right: 0.5rem;
}

.ccMicroChartFooterText {
	font-size: 0.7rem!important;
	color: rgba(102, 102, 102, 0.6)!important;
	vertical-align: top!important;
    text-align: left!important;
    width: 85%!important;
    overflow: hidden!important;
    word-break: break-word!important;
    max-height: 16px!important;
    white-space: nowrap!important;
    position: absolute!important;
    bottom: 0.4rem!important;
}

.ccMicroChartValueAndUnitLayout {
    text-align: right;
}

.sapMTileCntContent{
    height: 3.5rem !important;
}



.ccValueVerticalContainer {
	text-align: right;
	width: 100%;
}

/**********************************************************************************/

.ccHeaderText{
    font-size: 0.875rem!important;
    font-weight: 500;
    color: black!important;
    line-height: 1.2rem!important;
    vertical-align: top!important;
    text-align: left!important;
    width: 100%!important;
    overflow: hidden;
    max-height: 40px!important;
}

.ccSubHeaderText{
	font-size: 0.7rem!important;
	color: rgba(102, 102, 102, 0.6)!important;
	vertical-align: top!important;
    text-align: left!important;
    width: 100%!important;
    overflow: hidden!important;
    word-break: break-all!important;
   	max-height:16px!important;
   	margin-top:2px;
}

.ccValueText{
    font-stretch: condensed;
    color: #666666;
    font-size: 65px!important;
    position: absolute!important;
    /*right: 45px!important;*/
    bottom: 31px
}

.ccUnitText{
	font-size: 0.9rem!important;
	font-family: 'Arial Narrow',HelveticaNeue-CondensedBold,Arial,sans-serif;
    font-stretch: condensed;
    color: #666666;
}

.ccFooterText {
	font-size: 0.7rem!important;
	color: rgba(102, 102, 102, 0.6)!important;
	vertical-align: top!important;
    text-align: left!important;
    width: 85%!important;
    overflow: hidden!important;
    word-break: break-word!important;
    max-height: 16px!important;
    white-space: nowrap!important;
    position: absolute!important;
    bottom: 0.4rem!important;
}

.ccRowLayoutHeader{
	padding-top: 10px!important;
    /*padding-right: 40px!important;*/
    /*padding-left: 13px!important;*/
    /* padding-bottom: 1rem!important; */
    display: block!important;
    height: 3.5rem;
}

.ccRowLayoutValue{
   	padding-top: 1.5rem;
    /*padding-right: 1rem!important;*/
    /*padding-left: 1rem!important;*/
    padding-bottom: 1rem!important;
    display: block!important;
}

.ccRowLayoutFooter{
	padding-top: 1rem!important;
	/*padding-right: 1rem!important;
	padding-left: 1rem!important;*/
	padding-bottom: 1rem!important;
	display: block!important;
}

.ccUnitLayout{
    position: absolute;
    right: 6px;
    bottom: 43px;
    margin-left: 5px;
}

.ccIconText{
	position:absolute;
	right: 10px;
	font-size: 20px!important;
}

.ccTileLayout{
	height: 100%;
	width: 100%;
}

.ccTileLayout:hover {
	cursor: pointer;
    cursor: hand;
    box-shadow: 0rem 0rem 0rem 0.125rem #ffffff!important;
    border: 1px solid #bb0000!important;
}

.cc-Tile-clicked{
	border: 2px solid #bb0000!important;
}

.cc-Tile-clicked:hover{
	border: 2px solid #bb0000!important;
	border-color: #bb0000!important;
}

.cc-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #D02E19;
}

.cc-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #3F7833;
}

.cc-arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #666666; 
}

.cc-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #666666;
}

.cc-good {
	color: #3F7833;
}

.cc-bad {
	color:#bb0000;
}

.cc-warning {
	color: yellow;
}

.cc-normal {
	color: #666666;
}
