<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="designstudio" sequenceNumber="57">
<locations>
<location path="c:\Program Files\SAP BusinessObjects Lumira\Lumira Designer" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>en</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
</target>
